/*Стили для user'a*/

.substrate{
    width: 1200px;
    margin: 50px 0;
}

#cover {
    z-index: 1;
    background: rgba(0, 0, 0, 0.83);
}

.olw-style-content {
    background-color: #fff;
    padding: 52px;
}